h1{
    font-size: 65px;
    color: orange;
    font-family:sans-serif;
    font-style: italic;
  }
  p{
    font-weight: 600px;
    font-size: 3em;
  }
  ul{
    background-color: purple;
  }
  .list{
    background-color: green;
  }
  body{
    text-align:center;
    font-size: 16px;
  }
  #um{
    color:yellow
  }
  #dois{
    color:red;
  }
  #tres{
    color:brown;
  }